.video-card {
    margin-top: 0px;
    /* Ajuste a margem superior conforme necessário */
}

.music-card {
    margin-top: 10px;
    /* Garantir que a margem superior das músicas esteja proporcional */
}

.musica-body {
    padding-bottom: 25px;
    padding-top: 25px;
}

.album-body {
    padding-bottom: 45px;
    padding-top: 45px;
}



.user-name {
    font-weight: bold;
    margin-left: 5px;
}

.comment {
    margin-bottom: 1em;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
}

.comment-text {
    margin-left: 8px;
}

.star {
    font-size: 1.5em;
    margin: 0 6px;
}

.star.selected {
    color: gold;
}